@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
  @apply border-b border-r shadow-lg drop-shadow rounded-lg p-2.5 border-gray-300 dark:bg-slate-800 dark:text-white/80 dark:border-slate-600
  tracking-wide text-sm placeholder-gray-400 bg-white focus:ring disabled:opacity-40 disabled:cursor-not-allowed focus:border-fuchsia-500 focus:ring-fuchsia-500/20
  hover:drop-shadow-xl hover:bg-gray-100;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
